#accueil{
    -fx-background-image : url("../img/fonds/Page_accueil.png");
    -fx-background-size: 100% 100%;
}


#application{
    -fx-background-image : url("../img/fonds/Page_App.png");
    -fx-background-size: 100% 100%;
}


/* Tableaux */

.table-view .column-header{
    -fx-background-color: #8b856c;
    -fx-border-color: #0000008a;
    -fx-border-width: 1;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: #0000008a;
    -fx-border-width: 0.5;
    -fx-padding: 2 0 2 4px;
}

.table-row-cell:hover {
    -fx-background-color: #ffd000;
    -fx-text-background-color: white;
}

.table-row-cell:odd{
    -fx-background-color: #dbd1a3;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even{
    -fx-background-color: #d6c495;
    -fx-background-insets: 0, 0 0 1 0;
}


.boutonConnexion{
    -fx-background-color: #EFD76B;
    -fx-border-color: #343232;
    -fx-border-radius: 5;
    -fx-max-height: 15;
}

#connexion .boutonConnexion{
    -fx-min-width: 150;
}

#inscription .boutonConnexion{
    -fx-min-width: 200;
}

.groupeConnexion{
    -fx-background-color : #D4C47C;
    -fx-background-radius: 25;
}

/* Combobox */

.lesComboBox{
    -fx-background-color : #aa9d63;
}

.lesComboBox .list-cell{
    -fx-background-color : #D4C47C;
}

.lesComboBox .list-cell:filled:selected{
    -fx-background-color : #aa9d63;
}

/* Boutons */

.lesBoutons{
    /* -fx-background-color : #d4b17c; */
    -fx-background-color : #D4C47C;
    -fx-border-color: #aa9d63;
    -fx-border-width: 2px;
    -fx-border-radius: 2;
}

#tableauClassement .column-header#medailleOr{
    -fx-background-image : url("../img/medailles/medailleOr.png");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#tableauClassement .column-header#medailleArgent{
    -fx-background-image : url("../img/medailles/medailleArgent.png");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#tableauClassement .column-header#medailleBronze {
    -fx-background-image : url("../img/medailles/medailleBronze.png");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#borderClassement {
    -fx-background-color : #D4C47C;
    -fx-background-radius: 25;
}

#tableauClassement .column-header{
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#tableauClassement .table-cell#medailleOr{
    -fx-background-color: #ffd200ce;
}

#tableauClassement .table-cell#medailleArgent{
    -fx-background-color: #c0c0c0ce;
}

#tableauClassement .table-cell#medailleBronze{
    -fx-background-color: #cf792ece;
}

#tableauClassement .table-cell{
    -fx-font-weight: bold;
}


/* Textfield connexion */
.lesFieldsConnexion{
    -fx-border-color: #73A2FF;
    -fx-border-width: 2px;
    -fx-border-radius: 2;
}

/* Textfield Appli */
.lesFieldsAppli{
    -fx-border-color: #aa9d63;
    -fx-border-width: 2px;
    -fx-border-radius: 2;
}

#borderPaneEpreuve{
    -fx-border-color: #D4C47C;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
}

.titre{
    -fx-font-family: System;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.lesBoutonsNav{
    -fx-padding: 1.1em 0 1em 0;
    -fx-font-size: 1.6em;
    -fx-background-color: transparent;
    -fx-font-family: System;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.lesBoutonsNav:hover{
    -fx-font-size: 1.7em;
    -fx-padding: 1em 0 0.8em 0;
    -fx-underline: true;
}

.userRole{
    -fx-font-size: 1.2em;
}

.boxUser{
    -fx-padding: 5 0 0 10;
}

#refresh{
    -fx-background-color: transparent;
}
