#accueil{
    -fx-background-image : url("../img/fonds/Page_accueil.png");
    -fx-background-size: 100% 100%;
}


#application{
    -fx-background-image : url("../img/fonds/Page_App.png");
    -fx-background-size: 100% 100%;
}

.boutonConnexion{
    -fx-background-color: #EFD76B;
    -fx-border-color: #343232;
    -fx-border-radius: 5;
    -fx-max-height: 15;
}

#connexion .boutonConnexion{
    -fx-min-width: 150;
}

#inscription .boutonConnexion{
    -fx-min-width: 200;
}

.groupeConnexion{
    -fx-background-color : #D4C47C;
    -fx-background-radius: 25;
}


#filtre{
    /* -fx-background-image : url("../img/logoFiltre.png"); */
    -fx-background-color : #aa9d63;
    -fx-background-size: 100% 100%;
}

#filtre .list-cell{
    -fx-background-color : #D4C47C;
}

#filtre .list-cell:filled:selected{
    -fx-background-color : #aa9d63;
}

#tableauClassement .column-header#medailleOr{
    -fx-background-image : url("../img/medailles/medailleOr.png");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#tableauClassement .column-header#medailleArgent{
    -fx-background-image : url("../img/medailles/medailleArgent.png");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#tableauClassement .column-header#medailleBronze {
    -fx-background-image : url("../img/medailles/medailleBronze.png");
    -fx-background-size: auto 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#borderClassement {
    -fx-background-color : #D4C47C;
    -fx-background-radius: 25;
}

#tableauClassement .column-header{
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#tableauClassement .table-cell#medailleOr{
    -fx-background-color: #ffd200ce;
}

#tableauClassement .table-cell#medailleArgent{
    -fx-background-color: #c0c0c0ce;
}

#tableauClassement .table-cell#medailleBronze{
    -fx-background-color: #cf792ece;
}

#tableauClassement .table-cell{
    -fx-font-weight: bold;
}

.textField{
    -fx-border-color: #73A2FF;
    -fx-border-width: 2px;
    -fx-border-radius: 2;
}

#borderPaneEpreuve{
    -fx-border-color: #D4C47C;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
}